<footer class="fixed-bottom footer-div">
    <div class="container">
        <div class="footer-logo d-flex justify-content-start">
            <img src="/images/logo.svg" alt="logo">
        </div>
    </div>

</footer>