<nav class="navbar navbar-expand-lg navbar-light navbar-div fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#"><span class="record-icon"><i class="bi bi-record-fill"></i></span><span
                class="brand-name">&nbsp;LIVE // </span><span class="clock" id="clock"></span></a>
        </div>
    </div>
</nav>

<script>
    function updateClock() {
        var currentTime = new Date();
        var hours = currentTime.getHours();
        var minutes = currentTime.getMinutes();
        var seconds = currentTime.getSeconds();

        // Add leading zeros if needed
        hours = (hours < 10 ? "0" : "") + hours;
        minutes = (minutes < 10 ? "0" : "") + minutes;
        seconds = (seconds < 10 ? "0" : "") + seconds;

        // Choose between 12-hour and 24-hour format
        var timeFormat = hours >= 12 ? "PM" : "AM";
        hours = hours % 12;
        hours = hours ? hours : 12; // Handle midnight
        var currentTimeString = hours + ":" + minutes + ":" + seconds + " " + timeFormat;

        document.getElementById("clock").innerText = currentTimeString;
    }

    // Update the clock every second
    setInterval(updateClock, 1000);

    // Initial call to display the clock immediately
    updateClock();
</script>