<nav class="navbar navbar-expand-lg navbar-light navbar-div fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#"><span class="record-icon"><i class="bi bi-record-fill"></i></span><span
                class="brand-name">&nbsp;LIVE // </span><span class="clock" id="clock"></span></a>
        {{!-- <img src="/images/logo.svg" alt="logo"> --}}
        {{!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> --}}
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                {{!-- <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li> --}}
            </ul>
        </div>
    </div>
</nav>

<script>
    function updateClock() {
        var currentTime = new Date();
        var hours = currentTime.getHours();
        var minutes = currentTime.getMinutes();
        var seconds = currentTime.getSeconds();

        // Add leading zeros if needed
        hours = (hours < 10 ? "0" : "") + hours;
        minutes = (minutes < 10 ? "0" : "") + minutes;
        seconds = (seconds < 10 ? "0" : "") + seconds;

        // Choose between 12-hour and 24-hour format
        var timeFormat = hours >= 12 ? "PM" : "AM";
        hours = hours % 12;
        hours = hours ? hours : 12; // Handle midnight
        var currentTimeString = hours + ":" + minutes + ":" + seconds + " " + timeFormat;

        document.getElementById("clock").innerText = currentTimeString;
    }

    // Update the clock every second
    setInterval(updateClock, 1000);

    // Initial call to display the clock immediately
    updateClock();
</script>