<!-- preloader -->
<div id="loader">
    <img src="/images/loading.gif" alt="page-loader">
</div>

<div id="content">
    {{!-- navbar --}}
    {{!-- <nav class="fixed-top index-navbar-div">
        <a class="navbar-brand brand-img" href="#">
            <img src="/images/logo.svg" alt="logo">
        </a>
    </nav> --}}

    <!--home Section-->
    <section class="home-section d-flex flex-column justify-content-center align-content-center" id="home">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="main-head">Inovus Digital</h1>
                    <h3 class="sub-paragraph">Just showcase what you're currently doing at INOVUS LABS IEDC</h3>
                    <a href="/users" class="btn index-btn">Get Started</a>
                </div>
            </div>
        </div>
    </section>

</div>

<script>
    window.onload = function () {
        // preloader
        document.getElementById("loader").style.display = "none";
        document.getElementById("content").style.display = "block";
    };

    setTimeout(() => {
        window.location.href = '/live'
    }, 5000);
</script>