<div class="container-fluid container-fluid-div">
    <div class="container container-div">
        <div class="row">
            {{#each userData}}

            <div class="card">
                <div class="img-div">
                    <img src="https://api.dicebear.com/7.x/identicon/svg?seed={{this.name}}" alt="Avatar" class="userimg">
                </div>
                <div class="user-details-div">
                    <h4><b>John Doe</b></h4>
                    <p>Architect & Engineer</p>
                </div>
            </div>

            {{/each}}
        </div>
    </div>
</div>