<div class="container-fluid">
    <div class="container outer-container">
        <div class="row inner-container">
            <div class="col-lg-6 user-form-div">

                <div class="input-form">
                    <form action="/users" method="post" enctype="multipart/form-data">
                        {{!-- <div class="form-image-display">
                            <img src="/images/avatar3.png" alt="Image" id="preview">
                        </div> --}}

                        <div class="form-group form-grp-div">
                            <label>Name</label>
                            <input type="text" placeholder="Enter your name" class="form-control" name="name">
                        </div>

                        <div class="form-group form-grp-div">
                            <label>Email</label>
                            <input type="email" placeholder="Enter your email" class="form-control" name="email">
                        </div>

                        <div class="form-group form-grp-div">
                            <label>Program/Domain</label>
                            <input type="text" placeholder="Enter a program" class="form-control" name="program">
                        </div>

                        <div class="form-group form-grp-div">
                            <label>Purpose of visit</label>
                            <select class="form-control" name="role">
                                <option>Learning</option>
                                <option>Building a Project</option>
                                <option>Explore</option>
                                <option>Mentor</option>
                            </select>
                        </div>

                        {{!-- <div class="form-group form-grp-div">
                            <label>Upload your image</label>
                            <input type="file" class="form-control-file" name="image" id="filetag">
                        </div> --}}

                        <div class="btn-div">
                            <a class="btn cancel-btn" href="/users">Cancel</a>
                            <button type="submit" class="btn submit-btn">Submit</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    var fileTag = document.getElementById("filetag"),
        preview = document.getElementById("preview");

    fileTag.addEventListener("change", function () {
        changeImage(this);
    });

    function changeImage(input) {
        var reader;

        if (input.files && input.files[0]) {
            reader = new FileReader();

            reader.onload = function (e) {
                preview.setAttribute('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>