:root {
    --primary-font: "Oswald", sans-serif;
    --secondary-font: "Roboto", sans-serif;
}

.outer-container {
    padding-top: 4px;
}

.inner-container {
    padding: 0px 50px 0px 50px;
}

.header {
    margin: 0;
    font-size: 24px;
    padding: 10px 0px 10px 0;
    font-weight: 700;
    font-family: var(--primary-font);
    letter-spacing: 1px;
    display: flex;
    align-items: center;
}

.counter {
    margin: 0;
    color: white;
    background-color: red;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-family: var(--secondary-font);
}

.corousel {
    display: inline-block;
    margin-bottom: 20px;
}

.corousel-card {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 8px;
    height: 180px;
    width: 150px;
    margin-right: 20px;
}

.corousel-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.owl-corousel-card {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 8px;
    height: 180px;
    width: 150px;
}

.owl-corousel-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.img-div {
    display: flex;
    justify-content: center;
}

.userimg {
    width: 60px;
    height: 60px;
}

.user-details-div {
    padding-top: 16px;
}

.user-name {
    margin: 0;
    text-align: left;
    font-size: 16px;
    font-weight: 700;
    color: black;
    font-family: var(--primary-font);
    width: 130px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-email {
    margin: 0;
    font-size: 12px;
    text-align: left;
    font-family: var(--secondary-font);
    color: grey;
    padding-bottom: 5px;
}

.user-role {
    margin: 0;
    padding-top: 5px;
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    font-family: var(--primary-font);
    color: black;
}

.user-pgrm {
    margin: 0;
    text-align: left;
    font-size: 12px;
    font-weight: 500;
    color: black;
    width: 130px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: var(--secondary-font);
}