.outer-container {
    padding-top: 50px;
}

.h-screen {
    height: 100vh;
}

.inner-container {
    display: flex;
    justify-content: center;
}

.user-form-div {
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 25px;
}

.btn-div {
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;
}


.cancel-btn {
    width: 150px;
    border: 1px solid red;
    color: red;
}

.cancel-btn:hover {
    background-color: red;
    color: white;
}

.submit-btn {
    width: 150px;
    border: 1px solid green;
    color: green;
}

.submit-btn:hover {
    background-color: green;
    color: white;
}

.form-image-display {
    padding: 10px;
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    border-radius: 25px;
}

.form-image-display img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.form-grp-div {
    padding-top: 10px;
}

.click-here-btn {
    margin: 0;
    color: cadetblue;
    font-weight: bold;
    cursor: pointer;
}


.input-form {
    padding: 20px;
    border-radius: 25px;
    background-color: white;
}